<module xmlns="urn:jboss:module:1.0" name="org.finos.fluxnova.bpm.qa.fluxnova-qa-ensure-clean-db">
  <resources>
    <resource-root path="fluxnova-qa-ensure-clean-db-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="java.logging" />
    <module name="org.finos.fluxnova.bpm.fluxnova-engine" />

  </dependencies>
</module>
