<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.model.fluxnova-dmn-model">
  <resources>
    <resource-root path="fluxnova-dmn-model-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="java.xml" />
    <module name="org.finos.fluxnova.bpm.model.fluxnova-xml-model" />

  </dependencies>
</module>
