<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.dmn.fluxnova-engine-dmn">
  <resources>
    <resource-root path="fluxnova-engine-dmn-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.joda.time" slot="2.1" />
    
    <module name="org.camunda.commons.fluxnova-commons-utils" />
    <module name="org.camunda.commons.fluxnova-commons-logging" />
    <module name="org.camunda.commons.fluxnova-commons-typed-values" export="true" />
    <module name="org.finos.fluxnova.bpm.juel.fluxnova-juel" services="import"/>
    <module name="org.finos.fluxnova.bpm.model.fluxnova-dmn-model" />
    <module name="org.finos.fluxnova.bpm.dmn.fluxnova-engine-feel-api" />
    <module name="org.finos.fluxnova.bpm.dmn.fluxnova-engine-feel-juel" />
    <module name="org.finos.fluxnova.bpm.dmn.fluxnova-engine-feel-scala" export="true" />
  </dependencies>
</module>
